.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column; 
}

/* ===== */

.title {
  width: 100%;
}

.title, .subtitle, .description {
  color: var(--font-black70);
  margin: 6px 0px 6px 0px;
  font-weight: 400;
}

.subtitle {
  font-size: 24px;
}

.description {
  font-size: 14px;
}


.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* ===== */

.projectsHeader {
  margin-bottom: 50px;
}

/* ===== */

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 120px;
  grid-row-gap: 72px;
}

.card {
  text-align: left;
  color: inherit;
  text-decoration: none;
  width: 480px;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 18px;
}

.card p, .card small {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.card small {
  margin-top: 14px;
  text-align: right;
  display: block;
}

.card a {
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card a:hover,
.card a:focus,
.card a:active {
  color: var(--font-gold);
  text-decoration: underline;
}

.card .projectThumbnail {
  width: 480px;
  height: 300px;

  border-radius: 25px;
  margin-bottom: 28px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
