.projectBody {
  max-width: 1205px;
  display: block;
  margin: auto;
}

.contentWrapper {
  margin-top: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.content {
  width: 75%;
  padding-right: 36px;
}

.content table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 14px;
}

.content table tbody tr td img {
  width: 100%;
}

.content p, .metadata p {
  font-weight: 200;
  line-height: 26px;
  font-size: 14px;
}

.metadata {
  width: 25%;
  position: sticky;
  height: 100%;
  top: 50px;
}